--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.4.3/constraints-3.10.txt"

apache-airflow-providers-snowflake==3.3.0
apache-airflow-providers-mysql==3.2.1
apache-airflow-providers-google==8.4.0
apache-airflow-providers-amazon==6.0.0
pandas==1.5.1
openpyxl==3.1.2
apache-airflow-providers-sftp==4.5.0